#### SAEZ, Eljenzal Hoper U.

#### 2ECE - C

### Problem 1

In [10]:
# Import the necessary library
import pandas as pd

# Define the file path (update this to the location of your CSV file)
file = 'cars.csv'  # Replace with your file path

# Load the CSV file into a DataFrame named cars
cars = pd.read_csv(file_path)

# Display the first five rows of the DataFrame
print("First five rows of the DataFrame:")
print(cars.head())

# Display the last five rows of the DataFrame
print("\nLast five rows of the DataFrame:")
print(cars.tail())

First five rows of the DataFrame:
               Model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

   carb
0     4
1     4
2     1
3     1
4     2

Last five rows of the DataFrame:
             Model   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  \
27    Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5
28  Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5
29    Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5
30   Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5
31      Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.6   1   1     4

    carb
27     2
28     4
29     6
30     8
31     2